<div class="box" [shAnchorFor]="menu" [shMenuData]="items[0]">
  <h2>{{title}}</h2>
</div>

<div class="box" [shAnchorFor]="myMenu" [shMenuData]="items[1]">
  <h2>{{title}}</h2>
</div>

<sh-context-menu #menu class="my-menu">
  <div *shContextMenuItem="let item">
    one - {{item.label}}
  </div>
  <div *shContextMenuItem="let item; subMenu:subMenu" (click)="onClick($event)">
    two - {{item.label}}
  </div>
  <div *shContextMenuItem="let item; divider: true">
  </div>
  <div *shContextMenuItem="let item">
    one - {{item.label}}
  </div>
  <div *shContextMenuItem="let item">
    <div style="height: 10px; background-color: lightgoldenrodyellow; padding: 10px">
      <input type="text" [value]="item.label">
    </div>
  </div>

  <sh-context-menu #subMenu>
    <div *shContextMenuItem="let item; subMenu: nestedSubMenu">
      From Sub Menu - {{item.label}}
    </div>
    <sh-context-menu #nestedSubMenu>
      <div *shContextMenuItem="let item">
        From Sub Menu Two - {{item.label}}
      </div>
    </sh-context-menu>
  </sh-context-menu>
</sh-context-menu>

<my-menu #myMenu></my-menu>
