.box{
  height: 180px;
  width: 180px;
  background-color: #e3e4c2;
  line-height: 140px;
  text-align: center;
  box-shadow: 6px 6px 15px 2px rgba(0,0,0,.3);
  display: inline-block;
  margin: 20px;
}

.box.box-right{
  float: right;
  width: 240px;
}

i.menu-icon{
  margin-right: 3px;
  display: inline-block;
  color: green;
}
